
body{
    margin: 0px;
}
#navBar{
    background-color: rgb(51, 1, 43);
    padding: 10px;
    margin-top: 10px;
    bottom: 0px;
    width: 100%;
    

}
button{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin: 0px 50px;
}

#fotter{
    background-color: rgb(51, 1, 43);
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

#logo{
    width: 50px;
    height: 50px;
    margin: 10px;
 

}

.navButton{
    background-color: rgb(226, 135, 17);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


.navRightMenu{
    float: right;
    margin: 10px;
    margin-top: 20px;
}

.navButton:hover{
    background-color: rgb(176, 231, 22);
}
.navButton:active{
    background-color: rgb(34, 233, 16);
}
#prof{
    border: 2px solid black;
    border-radius: 8px;
    width: 200px;
    margin-left: 70px;
    margin-top: 20px;
}
#mrginTop{
    margin-top: 10px;
    
    
}
.graiPage{
    display: grid;
    grid-template-areas: "header header header header header"
                         "content content content content content"
                         "fotter fotter fotter fotter fotter" ;
    text-align: center;                     
    
}
#navBar{
    grid-area: header;
    padding: 20px;
    
}
#content{
    grid-area: content;
    padding: 20px;
    margin: 60px;
}
#fotter{
    grid-area: fotter;
    padding: 20px;
    
}
.graidConter{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 50px;
}


.graidItem1{
    text-align: center;
}
.graidItem2{
    text-align: center;
}
.graidItem3{
    text-align: center;
}
.graidItem4{
    text-align: center;
}
.graidItem5{
    text-align: center;
}
.graidItem6{
    text-align: center;
}